# Docker volumes (dados dos containers)
/postgres/
/infra/mosquitto/data/
/infra/mosquitto/log/

# Arquivos de ambiente (senhas)
.env

# Cache do Python e do pytest
__pycache__/
*.pyc
.pytest_cache/
.coverage

# Pastas do Flutter
/build/
/.dart_tool/
/pubspec.lock